In [1]:
import os
os.getcwd()

'C:\\Users\\Daniel\\AppData\\Local\\Programs\\Python'

In [2]:
os.chdir("C:/Users/Daniel/Desktop/Data Sets")

In [4]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
dataset=pd.read_csv('Mall_Customers.csv')
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
dataset.info() # cleaning data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
CustomerID                200 non-null int64
Genre                     200 non-null object
Age                       200 non-null int64
Annual Income (k$)        200 non-null int64
Spending Score (1-100)    200 non-null int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [13]:
x=dataset.values # idependent variables

In [14]:
plt.style.use('fivethirtyeight') # one style of visualization

In [16]:
plt.style.use('seaborn')

In [ ]:
plt.figure(figsize=(10,6))
plt.scatter(x[:,3],x[:,4],s=100,color='b')
plt.xlabel('Height')
plt.ylabel('Weight')
plt.title('T-shirts problems')
plt.show()

In [12]:
from sklearn.cluster import KMeans
kmean= KMeans(n_clusters=1)
kmean.fit(x)
WCSS=(kmean.inertia_)
print(WCSS)

ValueError: could not convert string to float: 'Male'